<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thientuan.deanmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GiaoDien.HocLyThuyet.Activity_HocLyThuyet" />
        <activity android:name=".GiaoDien.BienBaoDuongBo.Activity_BienBaoDuongBo" />
        <activity android:name=".GiaoDien.Luat.Activity_Luat" />
        <activity android:name=".GiaoDien.BienBaoDuongBo.Activity_BienBaoCam" />
        <activity android:name=".GiaoDien.BienBaoDuongBo.Activity_BienBaoNguyHiem" />
        <activity android:name=".GiaoDien.BienBaoDuongBo.Activity_BienBaoHieuLenh" />
        <activity android:name=".GiaoDien.BienBaoDuongBo.Activity_BienBaoChiDan" />
        <activity android:name=".GiaoDien.BienBaoDuongBo.Activity_BienBaoPhu" />
        <activity android:name=".GiaoDien.BienBaoDuongBo.Activity_VachKeDuong" />
        <activity android:name=".GiaoDien.BienBaoDuongBo.Activity_TuyenDuongDoiNgoai" />
        <activity android:name=".GiaoDien.Luat.Activity_LuatXeDap" />
        <activity android:name=".GiaoDien.HocLyThuyet.Activity_KhaiNiemVaQuyTac" />
        <activity android:name=".GiaoDien.HocLyThuyet.Activity_HeThongBienBao" />
        <activity android:name=".GiaoDien.HocLyThuyet.Activity_SaHinh" />
        <activity android:name=".GiaoDien.HocLyThuyet.Activity_DaoDuc" />
        <activity android:name=".GiaoDien.Luat.Activity_LuatXeMay" />
        <activity android:name=".GiaoDien.Luat.Activity_SaiPhamKhac" />
        <activity android:name=".TracNghiem.Cau1.Activity_Bai1" />
        <activity android:name=".GiaoDien.BaiThiThu.Activity_BaiThiThu1"></activity>
    </application>

</manifest>